<h1>Todos</h1>

<form>
  <input type="text" />
  <button type="submit">Add a todo</button>
</form>

<ul></ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/javascripts/todos.js"></script>